{{ define "footer" }}
<div class="content has-text-centered">
    <div id="consent-popup" class="hidden">
        <p>By using this site you agree to our <a href="/tos_06_11_2021">Terms Of Service</a>.
            Please <a id="accept" href="#">Accept</a> these before using the site.
        </p>
    </div>
</div>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Console</strong> by <a href="https://www.curiosityworks.org">CuriosityWorks</a>
        </p>
        <p>
            <a href="/tos_06_11_2021">Terms Of Service</a>
        </p>
        <p>
            <a href="/privacy_06_11_2021">Privacy Policy</a>
        </p>
    </div>
</footer>

<script src="/static/content.js"></script>
{{ end }}