<!doctype html>
<title>CuriosityWorks</title>
{% include "head.html" %}

<body>
  <div class="container">
    {% include "navbar.html" %}

    <div class="hero is-large is-primary has-background">
      <img alt="Fill Murray" class="hero-background is-transparent" src="/static/SL-103020-37400-03.jpg" />
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Your code lives here
          </h1>
          <h3 class="subtitle">

          </h3>
        </div>
      </div>
    </div>

    <!-- <a href='https://www.freepik.com/vectors/technology'>Technology vector created by starline - www.freepik.com</a> -->
    {% include "footer.html" %}
  </div>
</body>

</html>