<!doctype html>
<title>CuriosityWorks</title>
{{ template "header" }}

<body>
    <div class="container">
        {{ template "navbar" . }}

        <section class="hero is-medium has-bg-img">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title">Your code lives here</h1>
                    <h2 class="subtitle"></h2>
                </div>
            </div>
        </section>

        {{ template "footer" }}
    </div>
</body>

</html>