<!doctype html>
<title>CuriosityWorks</title>
{% include "head.html" %}
<body>
    <div class="container">
        {% include "navbar.html" %}

        <section class="hero is-large has-bg-img"> 
            <div class="hero-body">
              <div class="container has-text-centered"> 
                <h1 class="title">You have been logged out</h1> 
                <h2 class="subtitle"></h2> 
              </div> 
            </div>
        </section>

    {% include "footer.html" %}
    </div>
</body>
</html>