<!doctype html>
<title>CuriosityWorks</title>
{{ template "header" }}

<body>
  <div class="container">
    {{ template "navbar" . }}

    <section class="hero">
      <div class="hero-body">
        <p class="title">
          Coder Profile
        </p>
        <p class="subtitle">
          review your configuration
        </p>
      </div>
    </section>

    <ul>
      <li><strong>name:</strong>{{.Username}}</li>
      <li><strong>ide:</strong>vscode</li>
      <li><strong>git repo:</strong>
        <pre>{{.GitRepoURI}}</pre>
      </li>
      <li><strong>runtime installs:</strong>{{range $element := .Installed}}
        <pre>{{$element.ScriptBody}}</pre>{{end}}
      </li>      
    </ul>
    {{ template "footer" }}
  </div>
</body>

</html>