<!doctype html>
<title>CuriosityWorks</title>
{{ template "header" }}

<body>
  <div class="container">
    {{ template "navbar" . }}

    <section class="hero">
      <div class="hero-body">
        <p class="title">
          Your tools for coding
        </p>
        <p class="subtitle">
          with great power comes great responsibility
        </p>
      </div>
    </section>

    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <img src="/static/vs-icon.svg">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong><a href="https://vscode-{{.Username}}.curiosityworks.org" target="_blank">vscode</a></strong>
            <br>
            editor for your code
          </p>
        </div>
      </div>
    </article>
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <img src="/static/Octicons-terminal.svg">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong><a href="https://vscode-{{.Username}}.curiosityworks.org/proxy/2222/"
                target="_blank">terminal</a></strong>
            <br>
            dedicated terminal for convinience
          </p>
        </div>
      </div>
    </article>
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <img src="/static/gitea-lg.png">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong><a href="https://git-web.curiosityworks.org/user/login?redirect_to=%2f"
                target="_blank">git</a></strong>
            <br>
            your code gets stored here
          </p>
        </div>
      </div>
    </article>

    <a id="username-btn" class="button is-light">copy username to clipboard</a>
    <a id="password-btn" class="button is-light">copy password to clipboard</a>

    <script>
      var usernameCopyBtn = document.querySelector('#username-btn');
      var passowrdCopyBtn = document.querySelector('#password-btn');

      usernameCopyBtn.addEventListener('click', function (event) {
        usernameCopyBtn.text = 'copied'
        setTimeout(function () {
          usernameCopyBtn.text = 'copy username to clipboard'
        }, 2000)
        copyTextToClipboard('{{.Username}}');
      });
      passowrdCopyBtn.addEventListener('click', function (event) {
        passowrdCopyBtn.text = 'copied'
        setTimeout(function () {
          passowrdCopyBtn.text = 'copy password to clipboard'
        }, 2000)
        copyTextToClipboard('{{.Password}}');
      });
    </script>

    {{ template "footer" }}
  </div>
</body>

</html>