<!doctype html>
<title>CuriosityWorks</title>
{{ template "header" }}
<body>
<div class="container">
    {{ template "navbar" . }}

    <section class="hero is-large has-bg-img">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">Sorry, we could not find your user info</h1>
                <h2 class="subtitle">Please contact our volunteer at your local community center</h2>
            </div>
        </div>
    </section>

    {{ template "footer" }}
</div>
</body>
</html>