<!doctype html>
<title>CuriosityWorks</title>
{% include "head.html" %}>
<body>
    <div class="container">
        {% include "navbar.html" %}

        <section class="hero">
            <div class="hero-body">
              <p class="title">
                Google Account Info 
              </p>
              <p class="subtitle">
                review your account info
              </p>
            </div>
        </section>

        <ul>
            <li><strong>name:</strong>  users_name </li>
            <li><strong>id:</strong>  unique_id </li>
            <li><strong>picture:</strong> <img src=" picture "></li>
            <li><strong>email:</strong>  users_email </li>
        </ul>
    {% include "footer.html" %}
    </div>
</body>
</html>